<section class="timer-section">
  <p class="timer">{{ "0" + min }} : {{ sec <= 9 ? "0" + (sec + "") : sec }}</p>
  <div class="button-group">
    <button type="button" (click)="onStart()" [hidden]="!hideStart">
      <i class="fa fa-play"></i>
    </button>
    <button type="button" (click)="onPause()" [hidden]="!hidePause">
      <i class="fa fa-pause"></i>
    </button>
    <button type="button" (click)="onReset()">
      <i class="fa fa-refresh"></i>
    </button>
    <button
      type="button"
      (click)="onResume()"
      [hidden]="!hideResume"
      class="resume"
    >
      <i class="fa fa-eject"></i>
    </button>
  </div>
  <p [hidden]="!display">Timer Stopped</p>
</section>
